<h2>Post a comment</h2>
<%= form_with model: [@user, @post, @post.comments.create] do |form| %>
  <%= form.text_area :text, placeholder: 'Your comment here' %><br><br>
  <%= form.submit 'Post your Comment ' %><br><br>
<% end %>