<div> 
  <h3>Post 1 by username</h3>
  <p>Comments: x - Likes: y</p>
  <p>Post Content</p>
</div>
<div> 
  <p>Username: Comment 1</p>
  <p>Username: Comment 2</p>
  <p>Username: Comment 3</p>
  <p>Username: Comment 4</p>
  <p>Username: Comment 5</p>
  <p>Username: Comment 6</p>
</div>